[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
